@charset "ISO-8859-1";
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css");

body {
 	background-color: #4158D0;
	background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.debole {
	border: solid red;
}

.media {
	border: solid yellow;
}

.forte {
	border: solid green;
}
