@charset "ISO-8859-1";
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css");

body {
 	background-color: #4158D0;
	background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

#landing_background {
	background: url("../images/background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	color: white;
  	text-shadow: 2px 2px 4px #000000;
}

#chart-container {
	width: 500px;
    height:500px
}

.product-img {
	width: 150px;
}

.debole {
	border: solid red;
}

.media {
	border: solid yellow;
}

.forte {
	border: solid green;
}
