<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>CoffeeBrew</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>registrazione.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrazioneUtenteController</display-name>
    <servlet-name>RegistrazioneUtenteController</servlet-name>
    <servlet-class>com.mvc.controller.RegistrazioneUtenteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrazioneUtenteController</servlet-name>
    <url-pattern>/RegistrazioneUtenteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccessoUtenteController</display-name>
    <servlet-name>AccessoUtenteController</servlet-name>
    <servlet-class>com.mvc.controller.AccessoUtenteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessoUtenteController</servlet-name>
    <url-pattern>/AccessoUtenteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutUtenteController</display-name>
    <servlet-name>LogoutUtenteController</servlet-name>
    <servlet-class>com.mvc.controller.LogoutUtenteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutUtenteController</servlet-name>
    <url-pattern>/LogoutUtenteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarteDiCreditoController</display-name>
    <servlet-name>CarteDiCreditoController</servlet-name>
    <servlet-class>com.mvc.controller.CarteDiCreditoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarteDiCreditoController</servlet-name>
    <url-pattern>/CarteDiCreditoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DistributoreAutomaticoController</display-name>
    <servlet-name>DistributoreAutomaticoController</servlet-name>
    <servlet-class>com.mvc.controller.DistributoreAutomaticoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistributoreAutomaticoController</servlet-name>
    <url-pattern>/DistributoreAutomaticoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnessioneDistributoreAutomaticoController</display-name>
    <servlet-name>ConnessioneDistributoreAutomaticoController</servlet-name>
    <servlet-class>com.mvc.controller.ConnessioneDistributoreAutomaticoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnessioneDistributoreAutomaticoController</servlet-name>
    <url-pattern>/ConnessioneDistributoreAutomaticoController</url-pattern>
  </servlet-mapping>
</web-app>