<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>CoffeeBrew</display-name>
  <welcome-file-list>
    <welcome-file>landing.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrazioneUtenteController</display-name>
    <servlet-name>RegistrazioneUtenteController</servlet-name>
    <servlet-class>com.mvc.controller.RegistrazioneUtenteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrazioneUtenteController</servlet-name>
    <url-pattern>/RegistrazioneUtenteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccessoUtenteController</display-name>
    <servlet-name>AccessoUtenteController</servlet-name>
    <servlet-class>com.mvc.controller.AccessoUtenteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessoUtenteController</servlet-name>
    <url-pattern>/AccessoUtenteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.mvc.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarteDiCreditoController</display-name>
    <servlet-name>CarteDiCreditoController</servlet-name>
    <servlet-class>com.mvc.controller.CarteDiCreditoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarteDiCreditoController</servlet-name>
    <url-pattern>/CarteDiCreditoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DistributoreAutomaticoController</display-name>
    <servlet-name>DistributoreAutomaticoController</servlet-name>
    <servlet-class>com.mvc.controller.DistributoreAutomaticoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistributoreAutomaticoController</servlet-name>
    <url-pattern>/DistributoreAutomaticoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnessioneDistributoreAutomaticoController</display-name>
    <servlet-name>ConnessioneDistributoreAutomaticoController</servlet-name>
    <servlet-class>com.mvc.controller.ConnessioneDistributoreAutomaticoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnessioneDistributoreAutomaticoController</servlet-name>
    <url-pattern>/ConnessioneDistributoreAutomaticoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccessoTecnicoController</display-name>
    <servlet-name>AccessoTecnicoController</servlet-name>
    <servlet-class>com.mvc.controller.AccessoTecnicoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessoTecnicoController</servlet-name>
    <url-pattern>/AccessoTecnicoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccessoAmministratoreController</display-name>
    <servlet-name>AccessoAmministratoreController</servlet-name>
    <servlet-class>com.mvc.controller.AccessoAmministratoreController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessoAmministratoreController</servlet-name>
    <url-pattern>/AccessoAmministratoreController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrazioneTecnicoController</display-name>
    <servlet-name>RegistrazioneTecnicoController</servlet-name>
    <servlet-class>com.mvc.controller.RegistrazioneTecnicoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrazioneTecnicoController</servlet-name>
    <url-pattern>/RegistrazioneTecnicoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorHandler</display-name>
    <servlet-name>ErrorHandler</servlet-name>
    <servlet-class>com.mvc.controller.ErrorHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorHandler</servlet-name>
    <url-pattern>/ErrorHandler</url-pattern>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrazioneDistributoreAutomaticoController</display-name>
    <servlet-name>RegistrazioneDistributoreAutomaticoController</servlet-name>
    <servlet-class>com.mvc.controller.RegistrazioneDistributoreAutomaticoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrazioneDistributoreAutomaticoController</servlet-name>
    <url-pattern>/RegistrazioneDistributoreAutomaticoController</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <exception-type>jakarta.servlet.ServletException</exception-type>
    <location>/error</location>
  </error-page>
  <error-page>
    <exception-type>java.io.IOException</exception-type>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/error</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>PannelloDiControlloAmministratoreController</display-name>
    <servlet-name>PannelloDiControlloAmministratoreController</servlet-name>
    <servlet-class>com.mvc.controller.PannelloDiControlloAmministratoreController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PannelloDiControlloAmministratoreController</servlet-name>
    <url-pattern>/PannelloDiControlloAmministratoreController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RicaricaCreditoController</display-name>
    <servlet-name>RicaricaCreditoController</servlet-name>
    <servlet-class>com.mvc.controller.RicaricaCreditoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RicaricaCreditoController</servlet-name>
    <url-pattern>/RicaricaCreditoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RimozioneDistributoreAutomaticoController</display-name>
    <servlet-name>RimozioneDistributoreAutomaticoController</servlet-name>
    <servlet-class>com.mvc.controller.RimozioneDistributoreAutomaticoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RimozioneDistributoreAutomaticoController</servlet-name>
    <url-pattern>/RimozioneDistributoreAutomaticoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RimozioneTecnicoController</display-name>
    <servlet-name>RimozioneTecnicoController</servlet-name>
    <servlet-class>com.mvc.controller.RimozioneTecnicoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RimozioneTecnicoController</servlet-name>
    <url-pattern>/RimozioneTecnicoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PannelloDiControlloTecnicoController</display-name>
    <servlet-name>PannelloDiControlloTecnicoController</servlet-name>
    <servlet-class>com.mvc.controller.PannelloDiControlloTecnicoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PannelloDiControlloTecnicoController</servlet-name>
    <url-pattern>/PannelloDiControlloTecnicoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RimozioneUtenteController</display-name>
    <servlet-name>RimozioneUtenteController</servlet-name>
    <servlet-class>com.mvc.controller.RimozioneUtenteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RimozioneUtenteController</servlet-name>
    <url-pattern>/RimozioneUtenteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeUtenteController</display-name>
    <servlet-name>HomeUtenteController</servlet-name>
    <servlet-class>com.mvc.controller.HomeUtenteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeUtenteController</servlet-name>
    <url-pattern>/HomeUtenteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RimozioneCartaDiCreditoController</display-name>
    <servlet-name>RimozioneCartaDiCreditoController</servlet-name>
    <servlet-class>com.mvc.controller.RimozioneCartaDiCreditoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RimozioneCartaDiCreditoController</servlet-name>
    <url-pattern>/RimozioneCartaDiCreditoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InserimentoCartaDiCreditoController</display-name>
    <servlet-name>InserimentoCartaDiCreditoController</servlet-name>
    <servlet-class>com.mvc.controller.InserimentoCartaDiCreditoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InserimentoCartaDiCreditoController</servlet-name>
    <url-pattern>/InserimentoCartaDiCreditoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InserimentoProdottoController</display-name>
    <servlet-name>InserimentoProdottoController</servlet-name>
    <servlet-class>com.mvc.controller.InserimentoProdottoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InserimentoProdottoController</servlet-name>
    <url-pattern>/InserimentoProdottoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RimozioneProdottoController</display-name>
    <servlet-name>RimozioneProdottoController</servlet-name>
    <servlet-class>com.mvc.controller.RimozioneProdottoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RimozioneProdottoController</servlet-name>
    <url-pattern>/RimozioneProdottoController</url-pattern>
  </servlet-mapping>
</web-app>